{% extends 'main/base.html' %}
{% load static %} 

{% block content %}
<div class="jumpbotron">
<div class="container">
	<br>
	<br> 
    <nav class="navbar navbar-expand-lg navbar-dark bg-light"> 
     <h1 class="display-4"><b><font color="purple" >ŲNIQUE ÐECOR'₷ & ₽LANNER'₷</b></h1>
     </font color="purple">  
 </nav>   
 <nav class="navbar navbar-expand-lg navbar-dark bg-light"> 
   <h2> Hello Everyone🥰..!</h2>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-light">
    <p class="lead"><i><b> Welcome to my Website ↭₪...I'm Mahii!!!</p></b></i>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-light">

   <img src="{% static 'main/images/decoo.jpg' %}" width="500" height="500">
   <hr class="my-4">
</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-light">

<p><font color="green"><i>This is a one of the best decorating company in Tamilnadu..!!
</p></font></i>
</nav>
   <nav class="navbar navbar-expand-lg navbar-dark bg-light">
    <p class="lead"><b>Great wedding planner websites invite the visitor to imagine their own wedding. They typically use soft pastels, romantic typography, white space and plenty of photography to create a feeling of style and sophistication.</p></b>
</nav>
   <nav class="navbar navbar-expand-lg navbar-dark bg-light">
   <img src="{% static 'main/images/pages.PNG' %}" width="1300" height="500">
</nav>
   <hr class="my-4">
<br>
<br>
<a class="btn btn-primary btn-lg" href="/learn" role="button">Learn more</a>
</div>
<br>
<br>
{% endblock %}
