{% extends 'main/base.html' %}
{% load static %} 

{% block content %}
<br>
<hr>
    <div class="d-flex justify-content-center align-items-header h-1">
   <img src="{% static 'main/images/121.png' %}" width="1300" height="500">
</div>
<br>
<hr>
<h1><font color="olive"><div class="d-flex justify-content-center align-items-center h-10">You Can Clarify Your Doubts... ⇓</h3></font>
	<br>
	<hr>
	<br>
	<div
  class="bg-image"
  style="
    background-image: url('https://mdbcdn.b-cdn.net/img/new/fluid/nature/012.webp');
    height: 100vh;
  "
>
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
  	<br>
    <div class="d-flex justify-content-center align-items-header h-100">
      <h1 class="text-white mb-0">ŲNIQUE ÐECOR'₷ & ₽LANNER'₷</h1>
      <br>
    </div>
  </div>
</div>
<br>
<p class="lead"><h3><b><i><font color="red">What are the questions to ask your decorator before booking them for your wedding?</font></h3></i>
	<br>
<p class="lead"><b>We are sure that you must have thought of as to how you want your dream-wedding venue to be like. From dazzling hanging kaleere to floral mandap setup, Indian wedding decorators are perfect to hire for your marriage as they plan and execute everything from scratch to make your venue look beautiful. Whether you want a mehendi décor, table centerpieces, sangeet decoration or unique floral decoration ideas, here are the following questions you should ensure to ask your decorator before you hire them, which are as follows:</p></b>
<p class="lead"><h3><b><i><font color="indigo">Can they work within your budget?</h3></font></i>
	<br>
<p class="lead">Ensure to communicate your budget and look if your vendor is open to negotiate and is comfortable in giving you the service in your budget or not.</b>
<br>
<p class="lead"><b><h3><i><font color="green">How long they take to setup the event?</h3>
</font>
<br></i>
<p class="lead"><b>As time is money, ensure to ask your wedding decorators that how much duration they will take to set-up and decorate the whole event.<br></b>
<p class="lead"><font color="yellow"><i><h3>Do they have a professional team?</h3></font>
	<br></i>
<p class="lead"><b>Most of the decorators do have their own team. Make sure that when you are meeting your decorators ask him or her what is the size of their teams who will work on your wedding day.<br></b>
<p class="lead"><font color="gray"><i><h3>What is the total work experience?</h3></font>
	<br></i>
<p class="lead"><b>We might think it is very subjective but let us tell you it is not. Experience always matters but knowing the numbers of years spent in a particular industry gives you an idea of the company and their past clients and portfolios help you to book them for your function.</b>
	<br>
<p class="lead"><font color="#F33A6A"><h3><i>Have they ever decorated a wedding in your locality/venue?<br></font></h3></i>
<p class="lead"><b>Proximity will make you more confident and you can ask various other questions and queries if he or she has a better understanding of your wedding venue in advance.</b>
	<br>
<p class="lead"><font color="orange"><i><h3>Do I have to pay extra for flowers and props?</font><br></h3></i>
<p class="lead"><b>The most important thing in any wedding is the cost of flowers. Do ensure that you ask about an extra cost of flowers because some flowers are seasonal and might end up costing you much more than expected. Therefore, communicating with your decorator about flowers will help you plan everything within your budget.</b>
	<br>
<p class="lead"><font color="black"><h3><i>Can you customize the decoration package?<h3></font></h3></i>
	<br>
<p class="lead"><b>If you're looking for a floral wreath that is very trending now a days or hanging glass bulbs or trousseau trunks in that matter do ensure to make a checklist of all your customized decoration ideas and tell your decorator in advance so that you don’t have to get disappointed at the last moment.</b><br>
<p class="lead"><font color="blue"><h3><i>Are you available on the dates?</i></font><br></h3>
<p class="lead"><b>Ask your wedding decorators that are they available on the wedding day or packed with other prior commitments.</b>
	<br>
<p class="lead"><font color="green"><h3><i>What is the payment breakdown and is there any cancellation policy?</font><br></h3></i>
<p class="lead"><b>Lastly, ask about the payment procedure and a detailed document of payment procedure. In case if there is any emergency then, how the cancellation policy happens.</b>
	<br>
<b>Apart from wedding venues, you can easily find wedding caterers, wedding planners, bridal mehndi artists and more. You can easily check out the pictures, reviews & ratings, shortlist and contact vendors directly.</b>
 <br>
<br>
<br>


{% endblock %}
